{% extends 'ouradmins/general_admins.html' %}

{% load i18n%}

{% block left %}

<div class="left-nav-title">{% trans 'Package details' %}</div>
    <ul>
        <li><a href=""> {% trans 'Package details' %}</a></li>

    </ul>


{% endblock %}