{% extends 'ouradmins/general_admins.html' %}

{% load i18n%}

{% block left %}

<div class="left-nav-title">{% trans 'Home' %}</div>
    <ul>
        <li><a href="/ouradmin/">{% trans 'New orders today/ this week' %}</a></li>
        <li><a href="/ouradmin/total_subscribers"> {% trans 'Total subscribers' %}</a></li>
        <li><a href="/ouradmin/orders">{% trans 'Orders' %}</a></li>
        <li><a href="/ouradmin/new_orders">{% trans 'New Orders' %}</a></li>
        <li><a href="/ouradmin/printed_orders">{% trans 'Printed Orders' %}</a></li>
    </ul>

{% endblock %}