{% extends 'ouradmins/general_admins.html' %}

{% load i18n%}

{% block left %}

<div class="left-nav-title">{% trans 'Messages' %}</div>
    <ul>
        <li><a href="/ouradmin/messages"> {% trans 'Messages' %}</a></li>

    </ul>


{% endblock %}