{% extends 'ouradmins/general_admins.html' %}

{% load i18n%}

{% block left %}

<div class="left-nav-title">{% trans 'Subscribers' %}</div>
    <ul>
        <li><a href="/ouradmin/subscribers">{% trans 'Current subscribers' %}.</a></li>
        <li><a href="/ouradmin/past_subscribers">{% trans 'Past subscribers' %}</a></li>

    </ul>


{% endblock %}