{%extends "general.html"%}

{% load i18n%}



{% block content %}
    <div id="frame">
    {% block header%}
            <div id="header">
                <div class="logo"><img src="/media/images/logo.png" width="399" height="62" alt="" /></div>
                <div class="logout">

                    <a href="/accounts/logout">{% trans  'Logout' %}</a>

                </div>
                <div class="nav"><img src="/media/images/nav-left-cor.gif" alt="" width="6" height="48" class="left" />
                    <ul>

                        <li><a href="/ouradmin/">{% trans 'Home' %}</a></li>
                        <img src="/media/images/devider.gif" width="2" height="48" class="left" />
                        <li><a href="/ouradmin/packagesdetails">{% trans 'Package details' %}</a></li>
                        <img src="/media/images/devider.gif" width="2" height="48" class="left" />
                        <li><a href="/ouradmin/subscribers">{% trans 'Subscribers' %}</a></li>
                        <img src="/media/images/devider.gif" width="2" height="48" class="left" />
                        <li><a href="/ouradmin/messages">{% trans 'Messages' %}</a></li>
                        <img src="/media/images/devider.gif" width="2" height="48" class="left" />


                    </ul>
                </div>
            </div>
    {% endblock %}
    <div id="content">
    <img width="947" height="1" class="left" src="/media/images/top-bg.gif">
    <div class="content-mdl">
            <div class="left-nav">
                {% block left %}




                {% endblock %}
            </div>
            <div class="right_col">
            {% block rigth %}


            {%  endblock %}
            </div>
        </div>
    <p><img width="947" height="3" class="left" src="/media/images/bottom-bg.gif"></p>
    </div>

    {% block footer %}
    {%  endblock %}
</div>
{% endblock %}