
div.example {
	border-top: 1px solid #333;
	border-bottom: 1px dashed #CCC;
	margin: 20px;
	clear: both;
	padding-top: 1.5em;
}

div.example a {
	color: #222;
	font-size: 1.22em;
}

div.example a:visited {
	color: #222;
}

div.src {
	margin-left: 30px;
	color: black;
	padding-bottom: 5px;
	clear: both;
}

div.src a {
	text-decoration: underline;
	color: black;
}

div.src a:visited {
	color: black;
}

div.src div {
	border: 1px solid #CCC;
}

div.src div.js {
	background-color: #EEE;
}

div.src div.css {
	background-color: #f1ffe5;
}

div.src div.html {
	background-color: #fef1f1;
}

div.src div {
	float: left;
	padding: 0 10px;
}

div.src pre {
	font-size: 0.8em;
	display: none;
}


.jqmWindow {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid #999999;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }