@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
body{background:#FFF;}
html{font:normal 12px Verdana; color:#080808;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}

h1 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;	
}


#frame{width:961px; float:none; margin:0 auto;}
#header{width:961px; float:none; height:162px;}
@font-face {
    font-family: 'MetaPlusMedium-Roman';
    src: url('MetaPlusMedium-Roman.eot'),
         url('MetaMd.ttf') format('truetype'),;
    font-weight: normal;
    font-style: normal;
}
.logo{width:400px; margin:27px 0 25px 19px; float:left;}
.logout{width:auto; margin:45px 15px 0 0; font:bold 18px Arial; color:#080808; float:right; font:bold 16px Verdana; color:#080808;}
.logout a{color:#080808; text-decoration:none;}
.logout a:hover{color:#865e36; text-decoration:none;}
.nav{width:961px; float:left; background:url(/media/images/nav-bg.gif); height:48px; font:bold 16px Arial; color:#FFF;}
.nav ul { list-style:none; width:955px; height:48px; float:left; display:block; margin:0px; padding-right:0px; background:url(/media/images/nav-right-cor.gif) right no-repeat;}
.nav ul li { list-style:none; float:left; display:block; float:left; right no-repeat;}
.nav ul li a {color: #ffffff; text-decoration:none; display:block; height:33px; padding:15px 37px 0px 37px;}
.nav ul li a:hover {color: #ffffff; background:url(/media/images/nav-ro-bg.gif) repeat-x; display:block;}


#content{width:947px; float:none; margin:0 auto; padding:20px 7px;}
.content-mdl{width:947px; float:left; background:url(/media/images/middle-bg.gif) top repeat-y;}
.left-nav-title{width:155px; float:left; height:25px; font:bold 12px Verdana; color:#080808; text-decoration:underline;}
.left-nav{width:155px; float:left; padding:10px 0 5px 20px;}
.left-nav ul { list-style:none; width:155px; float:left;}
.left-nav ul li { list-style:none; width:150px; height:30px; float:left; font:normal 12px Verdana; color:#080808;}
.left-nav ul li a {color: #080808; text-decoration:none; display:block;}
.left-nav ul li a:hover {color: #6c6c6c;}
.right_col{width:737px; margin:8px 13px 0 0; float:right;}

#content-blank{width:950px; float:none; margin:0 auto; padding:20px 0;}
.home-con{width:948px; float:left; border:1px solid #080808;}
.nav3 ul { list-style:none; width:948px; height:25px; float:left; display:block; margin:0 auto;}
.nav3 ul li { list-style:none; width:315px; display:block; float:left;}
.nav3 ul li a {color: #ffffff; text-decoration:none; display:block; height:22px; text-align:center; background:url(/media/images/nav2-bg.gif) top repeat-x; padding-top:3px;}
.nav3 ul li a:hover {color: #6c6c6c; background:#FFF; display:block;}
.nav3-active { list-style:none; width:316px; background:#ffffff; color:#6c6c6c; height:22px; text-align:center; float:left; display:block; margin:0 auto; padding-top:3px;}
.home-box1{width:948px; float:left; margin:20px 0 5px 0;}
.home-box2{width:280px; float:left; margin:0 0 0 35px; font:bold 14px verdana; line-height:25px;}
.home-bold{float:left; margin-top:20px; font:bold 40px Arial; color:#0070c0;}
.red-small{color:#ff0000; font:normal 13px Verdana;}
.green-small{color:#00b050; font:normal 13px Verdana;}
.home-table{width:928px; float:left; margin:0 0 20px 10px;}

table.gridtable2 {font-family:verdana; float:left; width:100%; font-size:13px; color:#6c6c6c;	border-width: 0; border-color: #808184; border-collapse: collapse;}
table.gridtable2 a{color:#ff0000; text-decoration:none;}
table.gridtable2 a:hover{text-decoration:underline;} 
table.gridtable2 th {border-width: 1px; padding:9px 0 9px 0; text-align:center;	border-style: solid; border-color: #666666;	background-color: #ffffff; font-weight:normal; color:#080808;}
table.gridtable2 td {border-width: 1px;	padding:9px 0 9px 0; text-align:center; border-style: solid; border-color: #666666; background-color: #ffffff; font-weight:normal;}
table.gridtable2 td2 {border-width:1px;	padding:9px 0 9px 15px; text-align:left; border-style: solid; border-color: #666666; background-color: #ffffff; font-weight:normal;}


/* ============================= Current Users ====================== */

.title1{width:737px; float:left; margin-top:5px; font:bold 16px/37px Verdana; color:#080808; text-align:center;}
.nor-text1{width:737px; font:normal 14px Verdana; color:#080808; float:left; text-align:center; margin-bottom:25px;}
.nor-text1 a{color:#080808; text-decoration:underline;}
.nor-text1 a:hover{color:#080808; text-decoration:none;}
.nor-text2{	width:712px; font:normal 14px Verdana; color:#080808; float:left; margin:0 0 25px 25px; font-family: Verdana;}
table.gridtable {font-family:verdana; float:left; width:100%; font-size:13px; color:#6c6c6c;	border-width: 0; border-color: #808184; border-collapse: collapse;}
table.gridtable a{color:#9400d6; text-decoration:none;}
table.gridtable a:hover{color:#9400d6; text-decoration:underline;} 
table.gridtable th {border-width: 1px; padding:9px 0 9px 0; text-align:center;	border-style: solid; border-color: #666666;	background-color: #ffffff; font-weight:normal; color:#080808;}
table.gridtable td {border-width: 1px;	padding:9px 0 9px 0; text-align:center; border-style: solid; border-color: #666666; background-color: #ffffff; font-weight:normal;}
table.gridtable td2 {border-width:1px;	padding:9px 0 9px 15px; text-align:left; border-style: solid; border-color: #666666; background-color: #ffffff; font-weight:normal;}


/* ============================= Add Users ====================== */


.con1{width:575px; float:left; border:1px solid #808184; padding:10px 80px; margin:5px 0 15px 0;}
.indent{width:455px; float:left; margin:0 0 15px 65px;}
.indent-name{width:137px; float:left; font:normal 13px Verdana; color:#080808; padding-top:7px;}
.textarea{width:302px; float:left; height:20px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.nor-title{width:575px; font:normal 13px Verdana; color:#080808; float:left; margin-bottom:20px;}
.indent2{width:255px; float:left; margin:0 0 18px 65px;}
.indent3{width:255px; float:left; margin:0 0 18px 0;}
.checkbox{width:14px; float:left; height:13px; border:1px solid #808184; background:#ffffff; margin-right:4px;}
.save-button{width:255px; float:left; margin:10px 0 0 90px; text-align:right;}


/* ============================= Customers ====================== */

.con2{width:735px; float:left; border:1px solid #808184;  margin:0 0 15px 0;}
.right_col2{width:761px; float:right;}
.nav2{width:761px; float:left; height:25px; font:normal 13px Verdana; color:#FFF; margin:0 auto;}
.nav2 ul { list-style:none; width:761px; height:25px; float:left; display:block; margin:0 auto;}
.nav2 ul li { list-style:none; width:189px; display:block; float:left;}
.nav2 ul li a {color: #ffffff; text-decoration:none; display:block; height:22px; text-align:center; background:url(/media/images/nav2-bg.gif) top repeat-x; padding-top:3px;}
.nav2 ul li a:hover {color: #6c6c6c; background:#FFF; display:block;}
.white-bg{background:#FFF;}
.border-box{width:380px; float:left; border-right:1px solid #080808; margin-bottom:25px;}
.cust-box2{width:380px; float:left; margin-bottom:25px;}
.blue-text{width:100%; float:left; margin:0 auto; font:normal 25px Verdana; color:#0070c0; text-align:center; margin:10px 0 0 0;}
.nav2-active { list-style:none; width:189px; background:#ffffff; color: #6c6c6c;height:22px; text-align:center; float:left; display:block; margin:0 auto; padding-top:3px;}

/* ============================= Ecommerce ====================== */

.ecom-box1{width:740px; float:left; border:1px solid #808184; margin:10px;}
.red{color:#ff0000;}
.green{color:#00b050;}
.ecom-box2{width:360px; float:left; border:1px solid #808184; padding:10px 0 15px 0; margin-bottom:15px;}
.ecom-box3{width:320px; float:left; padding:0 0 0 40px;}
.ecom-box4{width:344px; float:left; padding:0 0 0 12px;}
.ecom-text{width:100%; font:normal 12px Verdana; color:#080808; float:left; margin-bottom:10px; line-height:20px;}
.ecom-text2{width:100%; font:normal 12px Verdana; color:#080808; float:left; margin-bottom:5px; line-height:14px;}


/* ============================= Customers Search ====================== */

.indent4{width:338px; height:22px; float:left; margin:0 0 15px 58px;}
.indent5{width:338px; height:22px; float:left; margin:0 0 15px 0;}
.indent4-name{width:105px; float:left; font:normal 13px Verdana; color:#080808; padding-top:7px;}
.textarea2{width:210px; float:left; height:22px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.search-button{width:100%; float:left; text-align:center; margin:12px 0;}


/* ============================= Automated Email Sent ====================== */

.auto-title{width:700px; margin:30px 0 20px 20px; float:left; font:normal 13px Verdana; color:#080808;}
.aoto-textarea{width:700px; float:left; margin-left:20px;}
.textarea3{width:688px; float:left; height:108px; border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:5px;}


/* ============================= Retailer ====================== */

.retailer-top{width:244px; float:left; margin:0 auto;}
.retailer-middle{width:183px; float:left; margin:0 auto;}
.retailer-text1{width:100%; float:left; margin:0 auto; font:normal 13px Verdana; color:#080808; text-align:center; margin-top:20px;}
.retailer-text1 a:link{color:#080808; text-decoration:none;}
.retailer-text1 a:hover{color:#080808; text-decoration:underline;}
.retailer-text2{width:100%; float:left; margin:0 auto; font:normal 25px Verdana; color:#0070c0; text-align:center; margin:10px 0 60px 0;}

/* ============================= Retailer Search ====================== */

.retailer-search-area{width:600px; float:left; margin:10px 0 30px 10px;}
.rs-indentname{width:auto; margin-right:5px; float:left; font:normal 13px Verdana; color:#080808; padding-top:5px;}
.rs-textarea{width:104px; float:left; margin-right:8px;}


/* ============================= New Products ====================== */

.next-buttons{width:140px; float:left; margin:25px 0; margin-left:290px;}
.nos{width:95px; float:left; padding-top:7px; font:normal 13px Verdana; color:#080808; text-align:center;}

/* ============================= Product Search ====================== */

.textarea4{width:224px; float:left; height:22px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; color:#080808; padding:0 0 0 5px;}
.indent6{width:307px; float:left; margin-top:9px;}
.indent7{width:215px; float:left; margin:9px 15px 0 15px;}
.indent-name2{width:73px; font:normal 13px Verdana; color:#080808; padding-top:3px; float:left;}

/* ============================= Product Search ====================== */

.title2{width:690px; float:left; margin:0 0 25px 25px; font:bold 14px Verdana; color:#080808;}
.title2 a:link{color:#080808; text-decoration:none;}
.title2 a:hover{color:#080808; text-decoration:underline;}

.title3{width:690px; float:left; margin:0 0 15px 25px; font:bold 13px Verdana; color:#080808;}
.ps-detail{width:700px; float:left; margin:0 0 18px 25px; font:normal 13px Verdana; color:#080808;}
.ps-detail a:link{ color:#080808; text-decoration:none;}
.ps-detail a:hover{ color:#080808; text-decoration:underline;}


/* ============================= Add New Retailer ====================== */

.anr-indent{width:620px; margin:0 0 15px 85px; float:left;}
.anr-indent-name{width:175px; font:normal 14px Verdana; color:#080808; float:left; margin-top:7px;}
.indent9{width:450px; float:left; margin-top:9px;}
.textarea5{width:250px; float:left; height:22px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.title4{width:600px; float:left; margin:0 0 18px 25px; font:normal 14px Verdana; color:#080808;}
.center-button{width:100%; float:left; text-align:center; margin:5px 0 20px 0;}

/* ============================= Refund ====================== */

.refund-con{width:100%; float:left; margin-bottom:20px; font-weight:normal;}
.refund-col{ border:1px solid #808184; padding:0 0 0 2px; text-align:center; font:normal 9px Verdana; color:#080808; line-height:20px;}
.refund-col2{padding:0 0 0 2px; text-align:center; font:normal 9px Verdana; color:#080808; line-height:20px;}
.refund-nor-text{font:normal 9px Verdana; color:#080808;}
.refund-title{ font:bold 10px Verdana; color:#080808;}
.refund-title2{ font:bold 11px Verdana; color:#080808;}
.purple{color:#70159a;}

/* ============================= Invoice References ====================== */

.nor-text3{	width:715px; font:normal 14px Verdana; color:#080808; float:left; margin:0 0 25px 10px; font-family: Verdana;}
.indent-name3{width:auto; font:normal 13px Verdana; color:#080808; padding-top:3px; float:left; margin-right:8px;}
.indent10{width:350px; float:left;}
.textarea5{width:195px; float:left; height:22px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; color:#080808; padding:0 0 0 5px;}

/* ============================= Invoicing Periods ====================== */

.points-area{width:500px; float:left; margin:10px 0 15px 205px;}
.right-aln{width:195px; float:left; font:normal 13px Verdana; color:#080808; margin:0 15px 10px 0; text-align:right;}
.points{width:290px; float:left; font:normal 13px Verdana; color:#080808; margin-bottom:10px;}


/* ============================= Otherpage Customer Information ====================== */

.con3{width:719px; float:left; border:1px solid #808184; padding:10px 8px 10px 8px; margin:10px 0 15px 0;}
.cust-info-title{width:100%; float:left; font:bold 16px verdana; color:#080808; margin-bottom:10px; text-align:center;}
.order-indent{width:100%; float:left; margin-bottom:16px;}
.order-text2{width:110px; font:normal 13px Verdana; color:#080808; padding-top:5px; float:left;}
.order-textarea2{width:107px; float:left; height:19px; border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.cust-info-con{width:100%; float:left;}
.cust-info-col1{width:224px; float:left; margin-right:8px; border:1px solid #808184; padding:4px;}
.cust-info-col2{width:224px; float:left; border:1px solid #808184; padding:4px;}
.cust-info-title2{width:100%; float:left; text-align:left; font:bold 14px Verdana; color:#080808; margin:5px 0 10px 0;}
.con4{width:703px; float:left; border:1px solid #808184; padding:5px 8px 5px 8px; margin:10px 0 5px 0;}
.cust-info-indentname{width:50px; margin-left:90px; float:left; font:normal 13px Verdana; color:#080808; padding-top:5px;}
.cust-info-textarea2{width:385px; float:left; height:19px; border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}


/* ============================= Otherpage Product Information ====================== */

.con5{width:700px; float:left; border:1px solid #808184; padding:20px 16px 0 16px; margin:5px 0 15px 0;}
.indent11{width:600px; float:left; margin:0 0 15px 0;}
.indent12{width:340px; float:left; margin:0 0 15px 0;}
.indent13{width:340px; float:left; margin:0 0 15px 15px;}
.indent-name4{width:158px; float:left; font:normal 13px Verdana; color:#080808; padding-top:7px;}
.textarea7{width:175px; float:left; height:20px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.text4{width:auto; float:left; font:normal 13px Verdana; color:#080808; padding-top:6px; margin-left:10px;}
.con6{width:724px; float:left; border:1px solid #808184; padding:10px 5px 17px 3px; margin:0 0 15px 0;}
.pd-boxes-area{width:173px; float:left; margin-left:7px;}
.box-title{width:173px; float:left; padding:0 0 10px 0; font:normal 12px verdana; color:#080808; text-align:center;}
.pd-boxes{width:171px; height:205px; float:left; border:1px solid #808184;}
.text5{width:290px; margin:20px 0px 0px 10px; float:left;}

/* ============================= Otherpage Retailer ====================== */

.oth-retlr-left-col{width:325px; padding:15px; float:left; height:475px; margin:10px 20px 15px 0; border:1px solid #808184;}
.oth-retlr-right-col{width:325px; padding:15px; float:left; height:475px; margin:10px 0 15px 0; border:1px solid #808184;}
.title5{width:100%; float:left; font:bold 14px verdana; color:#080808; margin-bottom:20px;}
.nor{width:100%; float:left; font:normal 12px verdana; color:#080808; margin-bottom:20px;}
.indent14{width:100%; float:left; margin-bottom:17px;}
.oth-text{width:165px; float:left; padding-top:7px; font:normal 12px verdana; color:#080808;}
.textarea8{width:142px; float:left; height:20px;  border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}
.checkbox{width:14px; float:left; height:14px;  border:1px solid #808184; background:#fff; margin-right:10px;}
.oth-rtlr-indent{width:550px; margin:0 0 20px 105px; float:left;}
.or-left-col{width:327px; float:left; border:1px solid #808184; padding:10px; margin-left:3px;}
.or-right-col{width:327px; float:left; border:1px solid #808184; margin-left:15px; padding:10px;}
.textarea9{width:85px; float:none; height:22px; border:1px solid #808184; background:#fff; font:normal 12px Verdana; padding:0 0 0 5px;}



/* ============================= Otherpage Retailer Ranking ====================== */

.rtl-rank-co1{width:320px; float:left; margin:0 0 0 15px;}
.rtl-rank-co2{width:175px; float:left;}
.radio-button{margin-right:5px;}
.rtl-right_col{width:705px; margin:8px 13px 0 0; float:right;}

/* ============================= Popup Product Family ====================== */

#frame2{width:760px; float:none; margin:0 auto;}
.popup-con{width:740px; padding:15px 10px 15px 10px; border:1px solid #808184; float:none; margin:15px 0;} 
.popup-text1{width:100%; font:normal 14px Verdana; color:#080808; float:left; text-align:center;}
.popup-left-arrow{width:55px; height:220px; float:left;}
.popup-graybox1{width:265px; height:198px; float:left; padding:10px 15px; background-color:#dddddd; border:1px solid #808184;}
.popup-graybox2{width:265px; height:198px; float:left; padding:10px 15px; background-color:#dddddd; border:1px solid #808184; margin-left:15px;}
.popup-text2{width:100%; font:normal 13px Verdana; color:#080808; float:left; margin-bottom:6px;}
.popup-box2{width:122px; float:left; text-align:center; padding:12px 0 0 0;}
.popup-box3{width:122px; float:left; text-align:center; padding:12px 0 0 0; margin-left:17px;}
.popup-white-box{width:120px; height:125px; float:none; margin-top:8px; background:#FFF; border:1px solid #808184;}
.popup-box4{width:615px; float:left; margin-left:60px; padding:15px 0; border:1px solid #808184;}
.popup-indent-name{width:160px; float:left; font:normal 13px Verdana; color:#080808; padding-top:7px; margin-left:120px;}


/* ============================= Footer ====================== */

#footer{width:961px; height:45px; float:left; border-top:1px solid #4a494a;}




