@charset "utf-8";
/* CSS Document */



body{
	margin:0;
	background-position:top;
	/*background-image: url(/media/images/useradmins/background.jpg);*/
	background-color:#C0E1F4;
	background-repeat: repeat;	
}
input{
outline:none;
}

*{
margin:0;
padding:0;
}

.clear{
clear:both;
}

.wrapper{
	padding:0;
	width:1000px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.header{
	height: 210px;
	width: 1000px;
	float: left;
}

.logo{
	float: left;
	height: 210px;
	width: 266px;
}

.image{
	float: left;
	height: 200px;
	width: 260px;
}

.navigation{
	float: left;
	height: 210px;
	width: 733px;
}

.button{
	float: left;
	height: 78px;
	width: 733px;
}

@font-face
{
font-family:Oswald;
src: url(font/oswaldbold.otf)
}

.short{
	float: right;
	height: 26px;
	/*width: 166px;*/
	margin-top: 44px;
	/* margin-left: 560px; */
}

.first{
	float: left;
	height: 26px;
	/*width: 103px;*/
    padding-right: 5px;
}

.welcome{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #434343;
	text-decoration: none;
	text-align: center;
}

.div{
	float: left;
	height: 26px;
	width: 3px;
}

.dash{
	float: left;
	height: 11px;
	width: 2px;
	margin-top: 2px;
}

.man{
	float: left;
	height: 26px;
	width: 60px;
}

.we{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #01a0a0;
	text-decoration: none;

}

.we ul{
margin:0;
padding:0;
}

.we ul li{
display:inline;
}

.we ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #00A7EB;
	text-decoration: none;
	float: left;
	margin-left: 3px;	
}

.we ul li a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	margin-left: 3px;
}


.blackbar{
	height: 64px;
	width: 733px;
	float: left;
}

.bli{
	/*background-image: url(/media/images/useradmins/yourdetails4.jpg);
	background-repeat: no-repeat;*/
	float: left;
	/*background-color:#33CCCC;*/
	background-image:url(/media/images/useradmins/background_menu.png);
	height: 64px;
	width: 714px;
	margin-left: 12px;
}

.nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 17px;
	
}

.nav ul{
	margin:0;
	padding:0;
	list-style-image: url(/media/images/useradmins/ndiv.jpg);
}
.nav ul li{
	display: inline;
	list-style-image: url(/media/images/useradmins/ndiv.jpg);
}

.nav ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	margin-right: 22px;
	margin-left: 22px;
	padding-right: 22px;
	padding-left: 22px;
	margin-top: 0px;
	
}
.nav ul li a:hover{
	
	margin-right: 22px;
	margin-left: 22px;
	padding-right: 22px;
	padding-left: 22px;
	margin-top: -0px;
	background-image:url(/media/images/useradmins/background_menu_hover.png);
	background-position:top;
	display:block;
	
}

.divo{
	float: left;
	height: 33px;
	width: 4px;
	background-image: url(/media/images/useradmins/ndiv.jpg);
	background-repeat: no-repeat;	
}

.inner{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#FFF;
	text-decoration: none;
	text-align: center;		
}



.bodypart{
	float: left;
	
	width: 1000px;
}

.mos{
	float: left;
	width: 1000px;
	background-color: #FFFFFF;
}

.firs{
	float: left;
	height: 372px;
	width: 1000px;
}

.smokingpipe{
	float: left;
	height: 372px;
	width: 559px;
}

.yourpipe{
	float: left;
	height: 64px;
	width: 559px;
}

.wrotable{
	float: left;
	height: 32px;
	width: 273px;
	margin-top: 32px;
	margin-left: 139px;
}

.pip{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #00A7EB;
	text-decoration: none;
}

.about{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	line-height:35px;
	
}

.us{
	float: left;
	height: 284px;
	width: 497px;
	margin-left: 21px;
}

.banner{
	float: left;
	height: 372px;
	width: 423px;
}


.cigerate{
	float: left;
	height: 333px;
	width: 404px;
	margin-top: 39px;
}

.brod{
	float: left;
	height: 64px;
	width: 1000px;
}

.pop{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #00A7EB;
	text-decoration: none;
	text-align: center;
	margin-top: 20px;
}

.alternative{
	float: left;
	height: 75px;
	width: 1000px;
	background-image: url(/media/images/useradmins/shadow.png);
	background-repeat: no-repeat;
}

.gpar{
	float: left;
	height: 73px;
	width: 883px;
	margin-left: 49px;
}
.abs{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	text-align: center;
	line-height: 30px;	
}

.here{
	float: left;
	height: 170px;
	width: 1000px;
}

.there{
	float: left;
	height: 84px;
	width: 1000px;
}


.cliko{
	float: left;
	height: 84px;
	width: 339px;
}

.ko{
	float: left;
	height: 83px;
	width: 306px;
	margin-left: 23px;
}

.twiter{
	float: left;
	height: 84px;
	width: 317px;
}


.kobi{
	float: left;
	height: 83px;
	width: 306px;
	
}

.footer{
	float: left;
	height: 71px;
	width: 1000px;
	background-repeat: no-repeat;
	background-image: url(/media/images/useradmins/shad.png);
}

.fna{
	float: left;
	height: 71px;
	width: 317px;
	margin-left: 338px;
}

.reserved{
	float: left;
	height: 30px;
	width: 317px;
}

.m{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #8e8e8e;
	text-decoration: none;
}

.m ul{
margin:0;
padding:0;
}

.m ul li{
	display: inline;
}

.m ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #8e8e8e;
	text-decoration: none;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}
.m ul li a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}


.copyright{
	float: left;
	height: 43px;
	width: 317px;
}

.n{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #8e8e8e;
	text-decoration: none;
	float: left;
	margin-left: 9px;
}













.subscrip{
	float: left;
	height: 736px;
	width: 1000px;
}

.your{
	float: left;
	height: 736px;
	width: 759px;
}

.tion{
	float: left;
	height: 108px;
	width: 759px;
}


.mons{
	float: left;
	height: 65px;
	width: 759px;
}

.heading{
	float: left;
	height: 48px;
	width: 260px;
	margin-left: 28px;
}

.wrt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #00A7EB;
	text-decoration: none;
	margin-top: 15px;
}

.able{
	float: left;
	height: 8px;
	width: 759px;
}


.lonli{
	float: left;
	height: 1px;
	width: 718px;
	margin-left: 18px;
}

.bani{
	float: left;
	height: 43px;
	width: 759px;
}

.subheading{
	float: left;
	height: 44px;
	width: 139px;
	margin-left: 53px;
}

.subte{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #00A7EB;
	text-decoration: none;
	margin-top: 10px;
}


.barte{
	float: left;
	height: 143px;
	width: 759px;
	background-image: url(/media/images/useradmins/reffred.png);
	background-repeat: no-repeat;
}

.reffered{
	float: left;
	height: 75px;
	width: 514px;
	margin-top: 30px;
	margin-left: 59px;
}

.gradienttext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	line-height: 40px;
}

.flavour{
	float: left;
	height: 44px;
	width: 759px;
}

.plceflv{
	float: left;
	height: 44px;
	width: 220px;
	margin-left: 51px;
}

.select{
	float: left;
	height: 350px;
	width: 759px;
	background-image: url(/media/images/useradmins/FLAVOU_copy.jpg);
	background-repeat: no-repeat;
}

.boxi{
	float: left;
	height: 222px;
	width: 556px;
	margin-left: 58px;
}

.fisele{
	float: left;
	height: 152px;
	width: 350px;
	margin-top: 24px;
}

.fifirst{
	float: left;
	height: 34px;
	width: 242px;
}


.dropdown{
	height: 34px;
	width: 242px;
	
}

.morganthai{
	float: left;
	height: 300px;
	width: 706px;
}


.lee{
	float: left;
	height: 152px;
	width: 320px;
	margin-top: 24px;
	margin-left: 30px;
}

.restart{
	float: left;
	height: 40px;
	width: 556px;
}

.prbo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	margin-top: 8px;
}

.butme{
	float: left;
	height: 179px;
	width: 759px;
	background-image: url(/media/images/useradmins/jjhg.png);
	background-repeat: no-repeat;
}

.rearl{
	float: left;
	height: 121px;
	width: 522px;
	margin-top: 14px;
	margin-left: 74px;
}


.moucha{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin-top: 10px;
}

.currency{
	float: right;
	height: 586px;
	width: 208px;
	margin-top: 15px;
	margin-right: 14px;
	background-image: url(/media/images/useradmins/addarea.png);
	background-repeat: no-repeat;
}






.contacarea{
	float: left;
	height: 67px;
	width: 1000px;
}

.fronti{
	float: left;
	height: 48px;
	width: 195px;
}

.solong{
	float: left;
	height: 1px;
	width: 946px;
	margin-left: 16px;
}

.from{
	float: left;
	height: 490px;
	width: 1000px;
}
.being{
	float: left;
	height: 447px;
	width: 737px;
	margin-top: 22px;
	margin-left: 163px;
}

.fibo{
	float: left;
	height: 43px;
	width: 737px;
}

.back{
	float: left;
	height: 41px;
	width: 485px;
	
	
}

.backbox{
	height: 41px;
	width: 485px;
	background-image: url(/media/images/useradmins/bb.jpg);
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	border:0px;
	background-repeat: no-repeat;


}

.hast{
	
	float: left;
	height: 331px;
	width: 733px;
}

.hastbox{
	height: 331px;
	width: 733px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	border:0px;
	background-image: url(/media/images/useradmins/lonbox.jpg);
	background-repeat: no-repeat;
}

.fastgg{
	float: left;
	height: 46px;
	width: 733px;
}


.submit{
	float: right;
	height: 39px;
	width: 97px;
	background-color: #00A7EB;
}

.ggh{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	margin-top: 11px;
}










.password{
	float: left;
	height: 166px;
	width: 1000px;
}


.emailid{
	float: left;
	height: 166px;
	width: 446px;
	margin-left: 250px;
}

.emar{
	float: left;
	height: 62px;
	width: 446px;
}

.enam{
	float: left;
	height: 62px;
	width: 116px;
}

.clte{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	float: left;
	margin-top: 30px;
	margin-left: 47px;
}

.esp{
	float: left;
	height: 62px;
	width: 330px;
}

.pnto{
	float: left;
	height: 32px;
	width: 286px;
	margin-top: 22px;
	margin-left: 12px;
}

.bnbo{
	height: 32px;
	width: 286px;
	float: left;
	border-radius:5px;
	background-image: url(/media/images/useradmins/filesystem.jpg);
	background-repeat: no-repeat;
	
	
}

.bnbotxbo{
	float: left;
	height: 32px;
	width: 286px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border:0px;
	padding-top: 6px;
	background:none;
	border-radius:5px;
	
	

}

.rano{
	float: left;
	height: 62px;
	width: 446px;
}

.cor{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #484848;
	text-decoration: none;
	float: left;
	margin-top: 30px;
	margin-left: 26px;
}

.namedetails{
	float: left;
	height: 335px;
	width: 1000px;
}

.yourdetadd{
	float: left;
	height: 335px;
	width: 332px;
}

.rumou{
	float: left;
	height: 334px;
	width: 319px;
	background-image: url(/media/images/useradmins/hhju.png);
	background-repeat: no-repeat;
	margin-left: 7px;
}

.ouo{
	float: left;
	height: 334px;
	width: 319px;
	background-repeat: no-repeat;
	margin-left: 7px;
	background-image: url(/media/images/useradmins/deliveryadd.png);
}

.billing{
	float: left;
	height: 334px;
	width: 319px;
	background-repeat: no-repeat;
	margin-left: 7px;
	background-image: url(/media/images/useradmins/billing.png);	
}



.pocl{
	float: left;
	height: 143px;
	width: 319px;
}

.resto{
	float: left;
	height: 97px;
	width: 319px;
	margin-top: 47px;
}

.mr{
	float: left;
	height: 30px;
	width: 317px;
}

.msare{
	float: left;
	height: 30px;
	width: 136px;
}

.drb{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 17px;
}

.llc{
	float: left;
	height: 30px;
	width: 181px;
}

.njk{
	float: left;
	height: 19px;
	width: 158px;
	margin-top: 10px;
	margin-left: 12px;
	}

.boscoto{
	float: left;
	height: 19px;
	width: 158px;
	background-image: url(/media/images/useradmins/mnam.png);
	background-repeat: no-repeat;
}

.boscototext{
	float: left;
	height: 19px;
	width: 158px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	border:0px;
	background:none;
}


.mmg{
	float: left;
	height: 19px;
	width: 158px;
	margin-top: 6px;
	margin-left: 12px;
	}	
	
.mro{
	float: left;
	height: 32px;
	width: 317px;
}

.msa{
	float: left;
	height: 32px;
	width: 136px;
}



.lic{
	float: left;
	height: 32px;
	width: 181px;
}

.housebilding{
	float: left;
	height: 184px;
	width: 317px;
}

.numberhouse{
	float: left;
	height: 24px;
	width: 317px;
}


.thirna{
	float: left;
	height: 24px;
	width: 183px;
}

.db{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin-top: 1px;
	margin-left: 17px;
}

.smallerbox{
	float: left;
	height: 24px;
	width: 123px;
}

.ggrt{
	background-image: url(/media/images/useradmins/smaller.png);
	background-repeat: no-repeat;
	float: left;
	height: 19px;
	width: 99px;
	margin-left: 24px;
	margin-top: 1px;
}

.ggrttex{
	float: left;
	height: 19px;
	width: 99px;
	border:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background:none;
	
}

.edting{
	float: left;
	height: 62px;
	width: 1000px;
}

.opedit{
	float: right;
	height: 39px;
	width: 97px;
	margin-top: 7px;
	margin-right: 12px;
	background-color: #00A7EB;
	
}
