<div class="footer">
    <div class="fna">
        <div class="reserved">
            <div class="m">
                <ul>
                    <li><a href="/usersadmin/">Home</a></li>
                    <li><a href="/usersadmin/yoursubscriptation/">Your Subscription</a></li>
                    <li><a href="/usersadmin/yourdetails/">Your details</a></li>
                    <li><a href="/usersadmin/contactus/">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">

            <div class="n"><p>© 2013 Smoking liquid direct - All rights reserved</p></div>


        </div>


    </div>


</div>