{% extends "general.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="media/css/style_users.css">
    <link rel="stylesheet" type="text/css" href="media/css/jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="media/css/social_dialogs.css"/>
{% endblock %}

{% block js%}
    <script type="text/javascript" src="media/js/jquery-1.js"></script>
    <script type="text/javascript" src="media/js/jqModal.js"></script>
    <script type="text/javascript" src="media/js/usersadmin.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">

        {% include 'useradmins/header.html' with user_name=user.first_name %}

        {% block main_content %}

        {% endblock %}

        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="63" alt="" /></div>

    </div>
{% endblock %}
