<div class="header">
    <div class="logo">
        <div class="image"><a href="#"><img src="/media/images/useradmins/jogo.png" width="260" height="200"
                                            alt=""/></a></div>

    </div>
    <div class="navigation">
        <div class="button">
            <div class="short" >

                <div class="first">
                    <div class="welcome">
                         <p>Welcome {{ user_name}}</p>

                    </div>


                </div>
                <div class="div">
                    <div class="dash"><img src="/media/images/useradmins/div.png" width="2" height="11" alt=""/></div>

                </div>

                <div class="man">
                    <div class="we">
                        <ul>
                            <li><a href="/accounts/logout/">Sign Out</a></li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="blackbar">
            <div class="bli">
                <div class="nav">
                    <ul>
                        <li><a href="/usersadmin">Home<br><span class="inner">Welcome</span></a></li>
                        <li class="divo"></li>
                        <li><a href="/usersadmin/yoursubscriptation">YourSubscription<br><span
                                class="inner">Subscription</span></a></li>
                        <li class="divo"></li>
                        <li><a href="/usersadmin/yourdetails">YourDetails<br><span
                                class="inner">AccountDetails</span></a>
                        </li>
                        <li class="divo"></li>
                        <li><a href="/usersadmin/contactus">ContactUs
                            <br><span class="inner">Touch with us</span>

                        </a></li>


                    </ul>
                </div>
            </div>


        </div>

    </div>

</div>