{% extends 'useradmins/general_useradmins.html' %}

{% block main_content %}
    <div class="bodypart">
        <div class="mos">

            <div class="subscrip" style="height:850px;">
<div class="your">
<div class="tion">
    <div class="mons">

        <div class="heading">

            <div class="wrt"><p>YOUR SUBSCRIPTION</p></div>


        </div>
        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="7" alt=""/></div>
        <div class="able">

            <div class="lonli"><img src="/media/images/useradminslin.png" width="718" height="1" alt=""/></div>

        </div>


    </div>
    <div class="bani">
        <div class="subheading">
            <div class="subte"><p>YOUR BONUS</p></div>

        </div>

    </div>

</div>
<div class="barte">

    <div class="reffered">

        <div class="gradienttext"><p>Last month you referred {{ amount_invites }} new people so have earned {{ earned_ecigarettes }}
            new e- cigarettes.
            Last month you referred {{ amount_invites }} new people so have earned {{ earned_pipes }} new Smoking Pipes.</p></div>
    </div>

</div>
<div class="flavour">

    <div class="plceflv">
        <div class="subte"><p>YOUR FLAVOUR!</p></div>
    </div>


</div>

<div class="select">
    <div class="boxi">
        <div class="morganthai">

            <div class="fisele">
                <div class="subte" style="margin-bottom:10px; margin-top:-10px;">
                    <p>Your Last Strength</p></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color: #00A7EB; font-style:italic; ">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color: #00A7EB; font-style:italic;">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color: #00A7EB; font-style:italic; ">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>
            </div>
            <div class="lee">
                <div class="subte" style="margin-bottom:10px; margin-top:-10px;"><p>Your Current Strength</p></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic; ">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>

                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="20" alt=""/></div>
                <div class="fifirst">
                    <select name="" size="1" class="dropdown">
                        <option>1st item</option>
                        <option>2nd item</option>
                        <option>3rd item</option>
                        <option>4th item</option>
                    </select>


                </div>
                <span style="float:left; margin-left:10px; line-height:30px; color:#00A7EB; font-style:italic;">freeze</span>
            </div>

        </div>
        <div class="restart">
            <div class="prbo"><p>Don’t forget, we also include a FREE vaporiser which needs changing every 8 weeks</p>
            </div>


        </div>

    </div>

</div>

<div class="flavour" style="margin-top:20px;">

    <div class="plceflv">
        <div class="subte"><p>YOUR PACKAGE</p></div>
    </div>


</div>
<div class="butme">
    <div class="rearl">
        <div class="moucha"><p>Your next order will be dispatched on: {{ next_order }}</p></div>
        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="2" alt=""/></div>
        <div class="moucha"><p>Your next billing will occur on: {{ next_billing }} (click to cancel)</p></div>
        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="0" alt=""/></div>
        <div class="moucha"><p>The name that will appear on your credit card statement is: {{ vendor_name }}</p></div>
        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="0" alt=""/></div>
        <div class="moucha"><p>Number of cigarettes you were smoking a day: {{ cigarret_per_day }}</p></div>
    </div>

</div>
</div>
<div class="currency"></div>


</div>
            <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="1" alt=""/></div>

            {% include 'useradmins/footer.html' %}

        </div>
    </div>
{% endblock %}