{% extends 'useradmins/general_useradmins.html' %}
{% block main_content %}
    <div class="bodypart">

        <div class="mos">
            <div class="firs">
                <div class="smokingpipe">
                    <div class="yourpipe">
                        <div class="wrotable">
                            <div class="pip"><p>YOUR SMOKING PIPE! </p></div>


                        </div>


                    </div>
                    <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="15" alt=""/>
                    </div>
                    <div class="us">
                        <div class="about"><p>Your V1 smoking pipe will last for about 500 Puffs before it needs to be
                            charged and the battery can be charged around 300 times before the pipe will need to be
                            replaced.</p></div>
                        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="15" alt=""/></div>
                        <div class="about"><p>You can buy new pipes whenever you need them, however there is a way to
                            get
                            more FREE pipes without spending any money at all. All you need to do is share a link to our
                            site with your friends and every time someone follows that link and signs up with us we will
                            Send you a FREE smoking pipe.</p></div>

                    </div>
                </div>
                <div class="banner">

                    <div class="cigerate"><a href="#"><img src="/media/images/useradmins/banner.png" width="404"
                                                           height="333" alt=""/></a>
                    </div>

                </div>

            </div>

             <div id="em" class="jqmWindow"></div>
             <div id="fb" class="jqmWindow"></div>

            <div id="fb-root"></div>
            <script src="http://connect.facebook.net/en_US/all.js"></script>
            <div class="brod">

                <div class="pop"><p>HOW MANY PEOPLE DO YOU KNOW THAT SMOKE!</p></div>

            </div>
            <div class="alternative">

                <div class="gpar">
                    <div class="abs"><p>Smoking liquid is a much healthier alternative to regular cigarettes, the
                        problem is
                        most people don’t know about it, to help us spread the word please click on any of the 3 buttons
                        below.</p></div>
                </div>

            </div>

            <div class="here">

                <div class="there">
                    <div class="cliko">
                        <div class="ko"><a style="cursor: pointer" class="fbtrigger"><img src="/media/images/useradmins/fb.png" width="306" height="83"
                                                         alt=""/></a></div>

                    </div>
                    <div class="twiter"><a id="twitter_popup" style="cursor: pointer"><img src="/media/images/useradmins/home.png" width="306" height="83"
                                                         alt=""/></a></div>
                    <div class="twiter"><a style="cursor: pointer" class="emtrigger"><img src="/media/images/useradmins/masseagebox.png" width="306"
                                                         height="83"
                                                         alt=""/></a>
                    </div>
                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="16" alt=""/></div>

                {% include 'useradmins/footer.html' %}

            </div>


        </div>


    </div>
{% endblock %}