{% extends 'useradmins/general_useradmins.html' %}
{% block main_content %}
    <div class="bodypart">
        <div class="mos">

            <div class="contacarea">

                <div class="heading">

                    <div class="wrt"><p>Contact Us</p></div>


                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="12" alt=""/></div>
                <div class="solong"><img src="/media/images/useradmins/longlinetext.jpg" width="946" height="1" alt=""/>
                </div>


            </div>
            <div class="from">
                <div class="being">
                    <form action="/usersadmin/save_conact_us/" method="post" id="contactus">{% csrf_token %}
                        <div class="fibo">
                            <div class="back">

                                <input name="subject" id="subject" type="text" class="backbox"/>

                            </div>
                        </div>
                        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="17" alt=""/>
                        </div>
                        <div class="hast">
                            <textarea name="body" id="body" cols="" rows="" class="hastbox"></textarea>
                        </div>
                        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="8" alt=""/>
                        </div>
                        <div class="fastgg"><a style="cursor: pointer">
                            <div class="submit" id="submit_contactus">
                                <div class="ggh">SUBMIT</div>
                            </div>
                        </a></div>
                    </form>

                </div>

            </div>

            {% include 'useradmins/footer.html' %}


        </div>

    </div>
{% endblock %}