{% extends 'useradmins/general_useradmins.html' %}
{% block main_content %}
    <div class="bodypart">
    <div class="mos">
    <div class="contacarea">

        <div class="heading">

            <div class="wrt"><p>YOUR DETAILS</p></div>


        </div>
        <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="12" alt=""/></div>
        <div class="solong"><img src="/media/images/useradmins/longlinetext.jpg" width="946" height="1" alt=""/></div>


    </div>
    <form method="post" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
        <div class="password">
        <div class="emailid">
            <div class="emar">
                <div class="enam">
                    <div class="clte"><p>EMAIL ID :</p></div>

                </div>

                <div class="esp">

                    <div class="pnto">
                        <div class="bnbo"><input name="email" type="text" class="bnbotxbo" value="{{ generaluser.email }}"/></div>


                    </div>


                </div>

            </div>
            <div class="rano">
                <div class="enam">
                    <div class="cor"><p>PASSWORD :</p></div>


                </div>
                <div class="esp">

                    <div class="pnto">
                        <div class="bnbo"><input name="password" type="password" class="bnbotxbo"/>
                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>
        <div class="namedetails">
            <div class="yourdetadd">
        <div class="rumou">
            <div class="pocl">
                <div class="resto">
                    <div class="mr">
                        <div class="msare">
                            <div class="drb"><P>MR/MRS/MISS:</P></div>
                        </div>
                        <div class="llc">
                            <div class="njk">
                                <div class="boscoto">
                                    <select class="boscototext" name="your_title" id="your_title">
                                        <option value="-1" selected="selected">Choose your title</option>
                                        {% for title in titles %}
                                            <option value="{{ title.titleid }}" {% if title.titleid == generaluser.your_title %}selected="selected"{% endif %}>{{ title.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="5" alt=""/>
                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>FIRST NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="your_firstname" type="text" class="boscototext" value="{{ generaluser.your_firstname }}"/></div>
                            </div>


                        </div>


                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>SECOND NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="your_secondname" type="text" class="boscototext" value="{{ generaluser.your_secondname }}"/></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="clear"></div>
            <img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/>

            <div class="housebilding">


                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>HOUSE BUILDING NUMBER:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="your_hbn" type="text" class="ggrttex" value="{{ generaluser.your_hbn }}"/></div>
                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>STREET ADDRESS:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="your_streetaddress" type="text" class="boscototext" value="{{ generaluser.your_streetaddress }}"/></div>
                        </div>

                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="" alt=""/></div>
                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>SECOND LINE OF ADDRESS:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="your_secondlineaddress" type="text" class="ggrttex" value="{{ generaluser.your_secondlineaddress }}"/></div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>TOWN/CITY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="your_towncity" id="your_town">
                                    <option value="-1">Choose your town/city</option>
                                    {% for your_town in your_towns %}
                                        <option value="{{ your_town.codeid }}" {% if your_town.codeid == generaluser.your_towncity %}selected="selected"{% endif %}>{{ your_town.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>COUNTRY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="your_country" id="your_country" onchange="get_towns($('#your_town'), $(this))">
                                    <option value="-1" selected="selected">Choose your country</option>
                                    {% for country in contries %}
                                        <option value="{{ country.codeid }}" {% if country.codeid == generaluser.your_country %}selected="selected"{% endif %}>{{ country.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>POSTCODE:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="your_postcode" type="text" class="boscototext" value="{{ generaluser.your_postcode }}"/></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
            <div class="yourdetadd">
        <div class="ouo">
            <div class="pocl">
                <div class="resto">
                    <div class="mr">
                        <div class="msare">
                            <div class="drb"><P>MR/MRS/MISS:</P></div>
                        </div>
                        <div class="llc">
                            <div class="njk">
                                <div class="boscoto">
                                    <select class="boscototext" name="delivery_title" id="delivery_title">
                                        <option value="-1" selected="selected">Choose your title</option>
                                        {% for title in titles %}
                                            <option value="{{ title.titleid }}" {% if title.titleid == generaluser.delivery_title %}selected="selected"{% endif %}>{{ title.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="5" alt=""/>
                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>FIRST NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="delivery_firstname" type="text" class="boscototext" value="{{ generaluser.delivery_firstname }}"/></div>
                            </div>


                        </div>


                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>SECOND NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="delivery_secondname" type="text" class="boscototext" value="{{ generaluser.delivery_secondname }}"/></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="clear"></div>
            <img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/>

            <div class="housebilding">


                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>HOUSE BUILDING NUMBER:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="delivery_hbn" type="text" class="ggrttex" value="{{ generaluser.delivery_hbn }}"/></div>
                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>STREET ADDRESS:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="delivery_streetaddress" type="text" class="boscototext" value="{{ generaluser.delivery_streetaddress }}"/></div>
                        </div>

                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="" alt=""/></div>
                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>SECOND LINE OF ADDRESS:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="delivery_secondlineaddress" type="text" class="ggrttex" value="{{ generaluser.delivery_secondlineaddress }}"/></div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>TOWN/CITY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="delivery_towncity" id="delivery_town">
                                    <option value="-1">Choose your town/city</option>
                                    {% for delivery_town in delivery_towns %}
                                        <option value="{{ delivery_town.codeid }}" {% if delivery_town.codeid == generaluser.delivery_towncity %}selected="selected"{% endif %}>{{ delivery_town.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>COUNTRY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="delivery_country" id="delivery_country" onchange="get_towns($('#delivery_town'), $(this))">
                                    <option value="-1" selected="selected">Choose your country</option>
                                    {% for country in contries %}
                                        <option value="{{ country.codeid }}" {% if country.codeid == generaluser.delivery_country %}selected="selected"{% endif %}>{{ country.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>POSTCODE:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="delivery_postcode" type="text" class="boscototext" value="{{ generaluser.delivery_postcode }}"/></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
            <div class="yourdetadd">
        <div class="billing">
            <div class="pocl">
                <div class="resto">
                    <div class="mr">
                        <div class="msare">
                            <div class="drb"><P>MR/MRS/MISS:</P></div>
                        </div>
                        <div class="llc">
                            <div class="njk">
                                <div class="boscoto">
                                   <select class="boscototext" name="billing_title" id="billing_title">
                                        <option value="-1" selected="selected">Choose your title</option>
                                        {% for title in titles %}
                                            <option value="{{ title.titleid }}" {% if title.titleid == generaluser.billing_title %}selected="selected"{% endif %}>{{ title.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="5" alt=""/>
                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>FIRST NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="billing_firstname" type="text" class="boscototext" value="{{ generaluser.billing_firstname }}"/></div>
                            </div>


                        </div>


                    </div>

                    <div class="mro">
                        <div class="msa">
                            <div class="drb"><P>SECOND NAME:</P></div>
                        </div>
                        <div class="lic">
                            <div class="mmg">
                                <div class="boscoto"><input name="billing_secondname" type="text" class="boscototext" value="{{ generaluser.billing_secondname }}"/></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="clear"></div>
            <img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/>

            <div class="housebilding">


                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>HOUSE BUILDING NUMBER:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="billing_hbn" type="text" class="ggrttex" value="{{ generaluser.billing_hbn }}"/></div>
                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="4" alt=""/></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>STREET ADDRESS:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="billing_streetaddress" type="text" class="boscototext" value="{{ generaluser.billing_streetaddress }}"/></div>
                        </div>

                    </div>

                </div>
                <div class="clear"><img src="/media/images/useradmins/spacer.png" width="1" height="" alt=""/></div>
                <div class="numberhouse">
                    <div class="thirna">

                        <div class="db"><P>SECOND LINE OF ADDRESS:</P></div>


                    </div>
                    <div class="smallerbox">
                        <div class="ggrt"><input name="billing_secondlineaddress" type="text" class="ggrttex" value="{{ generaluser.billing_secondlineaddress }}"/></div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>TOWN/CITY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="billing_towncity" id="billing_town">
                                    <option value="-1" selected="selected">Choose your town/city</option>
                                    {% for billing_town in billing_towns %}
                                        <option value="{{ billing_town.codeid }}" {% if billing_town.codeid == generaluser.billing_towncity %}selected="selected"{% endif %}>{{ billing_town.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>COUNTRY:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto">
                                <select class="boscototext" name="billing_country" id="billing_country" onchange="get_towns($('#billing_town'), $(this))">
                                    <option value="-1" selected="selected">Choose your country</option>
                                    {% for country in contries %}
                                        <option value="{{ country.codeid }}" {% if country.codeid == generaluser.billing_country %}selected="selected"{% endif %}>{{ country.code_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mro">
                    <div class="msa">
                        <div class="drb"><P>POSTCODE:</P></div>
                    </div>
                    <div class="lic">
                        <div class="mmg">
                            <div class="boscoto"><input name="billing_postcode" type="text" class="boscototext" value="{{ generaluser.billing_postcode }}"/></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
        </div>
    </form>
    <div class="edting">

        <div class="opedit" style="cursor: pointer" id="submit_yourdetails">
            <div class="ggh">EDIT</div>
        </div>

    </div>

    {% include 'useradmins/footer.html' %}

    </div>
    </div>
{% endblock %}