{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}
        <div style="padding-bottom:20px; padding-top:10px;" class="content_part_1">
            <div class="about_us_wide">
                <div class="contact_us">
                    <div style=" height:30px; font-size:24px; text-align:center;" class="contact_us_row">
                        Log into your Account
                    </div>
                    <div style="text-align:center" class="contact_us_row">
                        Please ensure nobody is watching as you type your password
                    </div>
                    {% if form.errors %}
                        <p class="contact_us_row" style="text-align: center;font-weight: bold">{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}

                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
                        <div style="margin-top:30px;" class="contact_us_row">
                            <div class="contact_us_row_left">
                                Email address:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="text"
                                       style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"
                                       size="30" id="id_username" name="username">
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Password:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="password"
                                       style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"
                                       size="30" id="id_password" name="password">
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Remember:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="checkbox" id="id_remember" name="remember">
                            </div>
                        </div>
                        <div style="text-align:center;" class="contact_us_row">
                            <input type="submit" value="Send"
                                   style="cursor: pointer; background-color:#7BC423; color:#FFF; width:120px; height:40px; border:0px; font-size:24px;"
                                   id="id_send" name="send">
                        </div>

                    </form>
                 <div style="text-align:center; margin-bottom:10px;" class="contact_us_row">
                    ( Forgot your username or password, please <a href="/password_recover">click here</a> )
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
