{% load i18n %}



   <a href="#" class="jqmClose" style="font-size: 14px;">Close</a>
  <div style="margin-top:10px;" class="request_from_friend_popup_body_small_center">
            Share by Email
  </div>
  <form action="/socialinvites/email_popup" method="POST">
    <div style="margin-top:10px;" class="popup_body_small" >
        To : <input type="text" size="50" id="to" name="to" onkeyup="validate_email()">
    </div>
    <div style="margin-top:10px;" class="popup_body_small" >
        Subject : <input type="text" size="50" id="subject" name="subject">
    </div>
    <div style="margin-top:10px;" class="popup_body_small_center">
        <textarea style="width:575px; height:120px;" id="message" name="message"> Switch from cigarettes to smoking liquid and save £100’s, I have and I will be saving £{{ cigatteres_cost_saving }} every year!! check it out here.. {{ link }} </textarea>
    </div>
    <div style="margin-top:10px; text-align:right;" class="popup_body_small">
        <input id="sender" type="submit" value="Send Message"
               style=" background-color:#808080; color:#FFF; width:120px; height:30px; border:0px;" id="#" name="#" disabled>
    </div>
    {% csrf_token %}
  </form>


<script type="text/javascript">
function validate_email(){
    var filter = /[\w-\.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
    var emails_address = $('#to').val();
    var emails_list = emails_address.split(',');
    var result = true;
    for(var i = 0;i < emails_list.length;i++){
        if(!filter.test(emails_list[i])){
            result = false;
        }
    }
    if(!result || emails_address == ''){
        $('#to').css('border','1px solid rgb(255, 0, 0)');
        $('#sender').css('background-color','#808080');
        $('#sender').css('disabled','disabled');
    }
    else{
        $('#to').css('border-color','#999999');
        $('#to').css('border-size','1px');
        $('#sender').css('background-color','#22C4C4');
        $('#sender').removeAttr('disabled');
    }
}
</script>
