{% load i18n %}

<a href="#" class="jqmClose" style="font-size: 14px;">Close</a>
        <div style="margin-top:10px;" class="request_from_friend_popup_body_small_center">
            Share on Facebook
        </div>

        <div style="width:550px; margin-top:20px; margin-left:40px; font-size: 14px;" class="request_from_friend_popup_body_small">
            1) First cut or copy this text (generated just for you and changes every day): <br>
            <textarea id="#" name="#" cols="60" rows="4">Switch from cigarettes to smoking liquid and save £100’s, I have and I will be saving £{{ cigatteres_cost_saving }} every year!! check it out here..</textarea>
        </div>
        <div style="width:550px; margin-top:20px; margin-left:40px; font-size: 14px;" class="request_from_friend_popup_body_small">
            2) Then open a facebook window by clicking ... <a style="cursor: pointer" onclick="show_facebook_invite_dialog('{{ fb_app_id }}','{{ host_name }}','{{ fb_invite_id }}','Ive signed up here and id like you to join me, come and have a look!','{{ fb_app_dialog_img }}','Save 94%, Just switch from cigarettes to Smoking Liquid!')">here</a>
        </div>
        <div style="width:550px; margin-top:20px; margin-left:40px; font-size: 14px;" class="request_from_friend_popup_body_small">
            3) Finally paste the text from above into the message section of the<br>
               facebook screen and share with your friends, this code is exclusive to you<br>
               so we can track it to you!
        </div>
    </div>
</div>

<script type="text/javascript">
function show_facebook_invite_dialog(app_id,host_name,invite_id,name,picture,description){
    FB.init({appId: app_id,
                 xfbml: true,
                 cookie: true});
    FB.ui({ method: 'send',
                name: name,
                link: host_name + '/socialinvites/invite_proxy/' + invite_id,
                picture: picture,
                description: description});
}
</script>