{%extends "general.html"%}

{% load i18n%}

{%block css%}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="media/css/style.css">
    <link rel="stylesheet" type="text/css" href="media/css/jquery.countdown.css">
{% endblock %}

{% block content %}
    <div id="frame">
    {% block header%}
        <div class="header_wide_2">
            <div class="header_2">
                <div class="header_logo_2">
                    <img src="/media/images/frontend/logo.png" width="180" />
                </div>
            </div>	<!-- close header_2 -->
        </div>	<!-- close header_wide_2 -->
    {% endblock %}

    <div class="content_wide">
        <div class="content">
            {% block main_content %}
                <div class="good_news" style="padding:10px 0px;">
                    <div class="good_news_row" style="padding:10px 0px; margin-top:50px; text-align:center;">
                        <span class="text_7">Internal server Error! </span>
                    </div>
                    <div class="good_news_row" style="padding:10px 0px; margin-bottom:50px; text-align:center;">
                        <span class="text_1">
                            <a href="{%   if user.is_authenticated %} /usersadmin/ {% else %} / {% endif %}">Click here</a> to continue.</span>
                    </div>
            </div>
            {% endblock %}
        </div>
    </div>
    {% block footer %}
        <div class="footer_wide">
            <div class="footer">
                <div class="footer_inner" style="text-align:center; margin-top:30px;">

                </div>
            </div>	<!-- close footer -->
        </div>	<!-- close footer_wide -->
    {%  endblock %}
</div>
{% endblock %}