{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{%block title%}{% trans 'Stop Smoking'%}{%endblock%}</title>
<!--<link rel="icon" type="image/ico" href="ysgi/media/img/soporte_icon.png"/>-->
{%block css%}
{%endblock%}

</head>
<body>
{%block content%}
{%endblock%}

{%block js%}
{%endblock%}

</body>
</html>