{% extends "base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="media/css/frontend.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="media/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="media/js/jquery-ui-1.10.1.custom.js"></script>
{% endblock %}