{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="content_part_1" style="padding-bottom:20px; padding-top:10px;">
                <div class="about_us_wide">
                    <div class="contact_us">
                        <div class="contact_us_row" style=" height:30px; font-size:24px; text-align:center;">
                            Talk to Us...
                        </div>
                        <div class="contact_us_row" style="text-align:center;">
                            If you have any questions or you want to share your thoughts about our service, please
                            contact us here:
                        </div>
                         <form id="public_contact_form" action="/contact_us/" method="post">{% csrf_token %}
                        <div class="contact_us_row" style="margin-top:20px;">

                            <div class="contact_us_row_left">
                                Your Name:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="text"  name="name" id="#" size="30" {% if captcha == 0 %} value="{{ name }}"{% endif %} style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"/>
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Your email address:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="text" name="email" id="email" size="30"
                                       style="height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;" {% if captcha == 0 %} value="{{ email }}" {% endif %}/>
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Your message :
                            </div>
                            <div class="contact_us_row_right">
                                <textarea name="message"
                                          style=" padding:5px 10px; background-color:#FFF; border:1px solid #999; width:300px; height:80px;">
                                    {% if captcha == 0 %}{{ message }}{% endif %}
                                          </textarea>
                            </div>
                        </div>
                        <div class="contact_us_row">
                        <div class="contact_us_row_left">
                        Please type here the code you see in the box to the right:
                        </div>
                        <div class="contact_us_row_right captcha_form">
                            {{ form }}
                        </div>
                        {% if captcha == 0 %}
                            <script type="text/javascript">
                                $('#id_captcha_1').addClass('input_error')
                            </script>
                        {% endif %}
                    </div>
                        <div class="contact_us_row" style="text-align:center; margin-bottom:10px;">
                            <input type="button" name="#" id="public_contact_submit"
                                   style=" background-color:#7BC423; color:#FFF; width:120px; height:40px; border:0px; font-size:24px;"
                                   value="Send" />
                        </div>
                     </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- close content -->
    </div>

{% endblock %}