<input type="hidden" value="{{ date }}" id="end_date"/>

<div class="enter_email_pass_right">
    <div class="enter_email_pass_right_row" style="background-color:#7BC423; color:#FFF; font-weight:bold;">
        <span class="text_7">FREE Delivery!</span>
    </div>
    <div class="enter_email_pass_right_row">
    <span class="text_1">Complete this order<br>
    in just 5 minutes<br>
    <span class="text_8" id="signup_countdown">(1 minute: 24 seconds left)</span><br>
    and we will give you<br>
    FREE delivery for life!<br><br>
    (save an additional<br>
    £18 per year)</span>
    </div>
</div>