{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="content_part_1">
                <div class="content_main_image" style=" background:url(/media/images/frontend/faq.jpg);">
                    <div class="content_huge_savings"
                         style="background:url(/media/images/frontend/background_transparent_5.png); width:270px; height:115px; padding:170px 15px 15px 15px; margin:25px 0px 0px 25px; float:left;">
                        Our liquids are produced by ‘Lambert Smoking Liquid’ and provide both the desired throat hit and
                        a satisfying amount of vapour.
                    </div>
                </div>
            </div>
            <!-- close content_part_1 -->


            <div class="content_part_1" style="padding-bottom:10px;">
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            Where are the smoking liquids made?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            The smoking liquids are carefully crafted in the UK in a purpose built clean room.
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>
                <!-- close faq_item_row -->
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            What do the smoking liquids contain?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            All the liquids contain several ingredients however the main two diluents are food grade
                            Vegetable Glycerine, and food grade Propylene-Glycol, our diluent percentages are PG70 VG30
                            which ensures most smokers a satisfying throat hit as well as a good vapour release.
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>
                <!-- close faq_item_row -->
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            How much nicotine does the liquid contain?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            The nicotine content gradually reduces at a rate which helps minimise the withdrawal
                            symptoms unsually experienced by smokers trying to quit. The first liquid contains 16mg, and
                            the very last liquid contains 0mg.
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>
                <!-- close faq_item_row -->
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            Can I go back a level or freeze the strength of my liquid for a while?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            Yes, from your administration area you can freeze the reduction process and also go back a
                            step.
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>
                <!-- close faq_item_row -->
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            How long does delivery take?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            Delivery can take upto 5 working days.
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>
                <!-- close faq_item_row -->
                <div class="faq_item_row">
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_question"><img src="/media/images/frontend/q.png"/></div>
                        <div class="faq_row_right" style="color:#22c4c4; font-weight:bold;">
                            Can I cancel my subscription?
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                    <div class="faq_q_a_row">
                        <div class="faq_row_left_answer"><img src="/media/images/frontend/a.png"/></div>
                        <div class="faq_row_right">
                            You can cancel at any time, we just need a maximum of 5 weeks notice (this may be shorter
                            depending on your last delivery).
                        </div>
                    </div>
                    <!-- close faq_q_a_row -->
                </div>


            </div>
            <!-- close content_part_1 -->


        </div>
        <!-- close content -->
    </div>

{% endblock %}