{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <!--<div class="content_part_1">
                <div class="content_main_image" style=" background:url(/media/images/frontend/flavours.jpg);">
                
                    <div class="content_huge_savings" style="background:url(/media/images/frontend/background_transparent_3.png); width:270px; height:115px; padding:170px 15px 15px 15px; margin:25px 0px 0px 25px; float:left;">
                    Our liquids are produced by ‘Lambert Smoking Liquid’ and are available in 6 great flavours each of which provide the desired throat hit and a satisfying amount of vapour.
                    </div>
                </div>
            </div> --><!-- close content_part_1 -->
            <div class="content_part_1">
                <div class="content_main_image" style=" background:url(/media/images/frontend/flavours.jpg);">
                    <div class="content_huge_savings"
                         style="background:url(/media/images/frontend/background_transparent_3.png); background-repeat:no-repeat; width:270px; height:110px; padding:175px 15px 15px 15px; margin:25px 0px 0px 25px; float:left;">

                    </div>
                </div>
            </div>

            <div class="content_part_1" style="padding-top:10px; background-color:#C0E1F4;">
                <div class="fragrance_left">


                    <!-- close fragrance_left_row -->
                    <div class="fragrance_left_row" style="padding:0px ; background-color:#FFF; text-align:center;">
                        <div style="font-size:14px; line-height:25px; margin:22px; text-align:left;  ">
                            The 2 year plan from ‘Lambert Smoking Liquid’ is a new and exciting approach which has been
                            designed to help you reduce your nicotine intake from 16mg to 0mg over a two year
                            period.<br/><br/>
                            The plan works by gradually reducing the nicotine content within the smoking liquid at a
                            rate that allows the human body to adjust naturally to the change, 64 different strength
                            liquids are used over the 2 year period which significantly helps to minimises the
                            withdrawal symptoms.<br/><br/>
                            All 64 strengths are produced in the UK by ‘Lambert smoking liquid’ and contain the same
                            great menthol flavour and food grade ingredients.<br/><br/>
                            To find out more about the liquids please visit the Lambert website here.
                        </div>
                    </div>
                    <!-- close fragrance_left_row -->

                    <!-- close fragrance_left_row -->

                </div>
                <div class="fragrance_right" style="background-color:#FFF;">
                    <span class="text_7" style="line-height:30px;  ">Our Guarantee!</span><br/><br/>
                    If for whatever reason you’re not happy simply return your products within 21 days for a full
                    refund.<br/><br/>
                    <img src="/media/images/frontend/business-seal.gif"/>
                    <br/>

                </div>
            </div>
            <!-- close content_part_1 -->
        </div>
        <!-- close content -->
    </div>

{% endblock %}