{% extends "general.html" %}

{% load i18n %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="media/js/public.js"></script>
    <script type="text/javascript" src="media/js/commun.js"></script>
{% endblock %}

{% block content %}

    <div class="header_wide">
        <div class="header">
            <!-- include header -->
            <div class="header_all">

                <div class="header_left">
                    <div class="header_left_top">
                        <a href="#"><img src="/media/images/frontend/twitter.png"/> Follow</a> &nbsp; <a href="#"><img
                            src="/media/images/frontend/facebook.png"/> Like</a>
                    </div>
                    <div class="header_left_menu">
                        <a href="/">
                            <div class="header_left_menu_item">
                                <span class="text_1">Home</span><br/>Welcome
                            </div>
                        </a>
                        <a href="/save94">
                            <div class="header_left_menu_item">
                                <span class="text_1">Quit Smoking</span><br/>The 2 year plan
                            </div>
                        </a>
                    </div>
                </div>
                <div class="header_logo">
                    <img src="/media/images/frontend/logo.png" width="260"/>
                </div>
                <div class="header_left">
                    <div class="header_right_top">
                      {% if user.is_authenticated %}
                            <a style="text-decoration: remove-all">Welcome {{ user.first_name}}</a> | <a href="/accounts/logout/">Logout</a>
                             | <a href="/contact_us">Contact Us</a>
                        {% else %}
                            <a href="/accounts/login/?next=/usersadmin/">Login</a> | <a href="/signup/">Sign Up</a> |
                            <a href="/contact_us">Contact Us</a>
                        {% endif %}
                    </div>
                    <div class="header_left_menu">
                        <a href="/flavours">
                            <div class="header_left_menu_item">
                                <span class="text_1">Flavour</span><br/>Tastes Delicious
                            </div>
                        </a>
                        <a href="/faq">
                            <div class="header_left_menu_item">
                                <span class="text_1">FAQ&rsquo;s</span><br/>Answered
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- end header -->
        </div>
        <!-- close header -->
    </div>
        <div class="content_wide">
        <div class="content">
    {% block main_content %}

    {% endblock %}
                    </div>
    </div>

    <div class="footer_wide">
        <div class="footer">
            <div class="footer_inner" style="text-align:center; margin-top:30px;">
                <a href="/">Home</a> &nbsp;| &nbsp;
                <a href="/save94">Quit Smoking</a> &nbsp; | &nbsp;
                <a href="/flavours">Flavour</a> &nbsp; | &nbsp;
                <a href="/faq">FAQ&rsquo;s</a>
            </div>
        </div>
        <!-- close footer -->
    </div>

{% endblock %}
