{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

            <form method="post" id="good_news_form" name="good_news_form" action="/signup/input_flavours">{% csrf_token %}
            <div class="good_news" style="padding:10px 0px;">
                <div class="good_news_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_7">Good News!</span>
                </div>
                <div class="good_news_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_1">It appears you already have an account with us.</span>
                </div>
                <div class="good_news_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_1">We have emailed you your login details for you to enter below</span>
                </div>
                <div style="text-align: center; color: #ff0000; padding: 0 0 0 0;margin-bottom: 0px" class="good_news_row">
                    <p >{{ message_error }}</p>
                </div>
                <div class="good_news_row" style="margin-top:20px;">
                    <div class="good_news_row_left">Email:</div>
                    <div class="good_news_row_right">
                        <input type="text" id="email_address" name="email" style="width:200px; height:25px; border:1px solid #999;"/>
                    </div>
                </div>
                <div class="good_news_row">
                    <div class="good_news_row_left">Password:</div>
                    <div class="good_news_row_right">
                        <input type="text" id="password" name="password" style="width:200px; height:25px; border:1px solid #999;"/>
                    </div>
                </div>
                <div class="good_news_row" style="text-align:right; padding:10px 0px;">
                    <input type="submit"
                           style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;"
                           value="Proceed"/>
                </div>
                <div class="good_news_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_1">If that email doesn’t arrive within the next 3 minutes please <a href="#">click
                        here</a> and we will resend it.</span>
                </div>
            </div>
            <!-- close good_news -->
                </form>

{% endblock %}