{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}
    <div class="content_wide">
        <div class="content">
            <div class="content_part_1">

                <div class="content_main_image" style=" background:url(/media/images/frontend/home.jpg); background-color:#EEE;">

                    <div class="content_huge_savings_head" style="float:right; margin-right:70px; margin-top:50px;">
                        <img src="/media/images/frontend/index.png"/>

                        <div class="content_huge_savings_button" style="position:relative; top:-75px; left:30px;">
                            <input type="button" name="#" id="#"
                                   style=" background-color:#7BC423; color:#FFF; width:250px; height:50px; border:0px; font-size:24px; cursor:pointer;"
                                   value="CLICK HERE!"/>

                        </div>

                    </div>

                </div>
            </div>
            <!-- close content_part_1 -->


            <div class="content_part_1" style=" width:600px; margin:0px 0px 20px 200px ;">
                <div class="about_us_wide">
                    <!-- close our_packages_half -->

                    <div style="border:1px solid #CCCCCC; overflow:hidden; width:580px; margin:10px 10px; height:120px;">
                        <!--image -->
                        <div style="width:88px; height:88px; margin-left:20px;  margin-top:10px; padding:5px; border:1px solid #CCC; float:left; margin-bottom:20px;">
                            <img src="/media/images/frontend/referal_2.jpg" width="88" height="88"/>
                        </div>
                        <!--image -->
                        <div style="width:440px; height:80px; float:left; font-size:12px; margin-top:10px; line-height:20px; text-align:left; padding-left:10px;">
                            <div style="width:440px; height:70px; float:left;">
                                The 2 year plan has already helped me reduce the amount I smoke and I have reduced my
                                nicotine intake twice already and didn’t notice any change.
                            </div>
                            <div style="width:auto; height:30px; color:#22c4c4; float:right; text-align:center; ">
                                Fiona Simons – Yorkshire, England
                            </div>
                        </div>
                    </div>

                    <!-- close our_packages_half -->
                </div>
                <!-- close about_us_wide -->
            </div>
            <!-- close content_part_1 -->
            <div class="content_part_2">
                <div style="width:900px; height:496px; position:relative; float:left;">
                    <div style=" background-color:#FFF; width:216px; height:400px; margin-right:12px; text-align:center; position:relative; z-index:1; float:left;">
                        <div class="content_one_forth_inner"
                             style=" width:216px; margin-left:0px; background-color:#002760; height:60px; color:#FFF;">
                            <span class="text_7" style="line-height:55px;">Sensible!</span>
                        </div>
                        <div class="content_one_forth_inner" style="margin-top:20px;">
                            <span class="text_1">The 2 year plan uses smoking liquids to help you stop smoking.<br/><br/>
                            </span>
                        </div>
                    </div>
                    <div style=" background-color:#FFF; width:216px; height:400px;  margin-right:12px; text-align:center; position:relative; z-index:2; float:left;">
                        <div class="content_one_forth_inner"
                             style=" width:216px; margin-left:0px; background-color:#002760; height:60px; color:#FFF;">
                            <span class="text_7" style="line-height:50px;">Cheaper! </span>
                        </div>
                        <div class="content_one_forth_inner" style="margin-top:20px;">
                            <span class="text_1">The 2 year plan is
                                much cheaper than smoking patches
                                and nicotine sprays.
                            </span>
                        </div>

                    </div>
                    <div style=" background-color:#FFF; width:216px; height:400px; margin-right:12px; text-align:center; position:relative; z-index:3; float:left;">
                        <div class="content_one_forth_inner"
                             style=" width:216px; margin-left:0px; background-color:#002760; height:60px; color:#FFF;">

                            <span class="text_7" style="line-height:50px;">Easier!</span>
                        </div>
                        <div class="content_one_forth_inner" style="margin-top:20px;">
                            <span class="text_1">
                                The 2 year plan uses 64 different strengths of smoking liquid to gradually reduce the amount of nicotine you inhale over a 2 year period.
                            </span>
                        </div>
                    </div>
                    <div style=" background-color:#FFF; width:216px; height:400px; text-align:center; position:relative; z-index:4; float:left;">
                        <div class="content_one_forth_inner">
                    <span class="text_1">
                    <img src="/media/images/frontend/business-seal.gif"/><br/>
                    <b>Our Guarantee!</b><br/>
                    <span style="font-size:14px">If for what ever reason you are not happy simply return your last order within 21 days for a full refund.</span>
                    </span>
                        </div>
                    </div>

                    <div style="width:900px; height:0px; position:absolute; left:0px; top:299px; z-index:5; float:left;">
                        <div style=" background:url(/media/images/frontend/circle_1.png); width:200px; height:200px; margin-left:80px; float:left;">
                            <div style="width:160px; height:30px; margin:auto; margin-top:150px; text-align:center;">
                                <span style="font-size:18px; font-weight:bold; color:#5A74AC;">400 likes</span>
                            </div>
                        </div>
                        <div style=" background:url(/media/images/frontend/circle_2.png); width:200px; height:200px; margin-left:110px; float:left;">
                            <div style="width:180px; height:40px; margin:auto; margin-top:110px; text-align:center;">
                                <span style="font-size:22px; font-weight:bold; color:#FFF;">200 Twitter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close content_part_2 -->
        </div>
        <!-- close content -->
    </div>
{% endblock %}