{% extends "public/general_frontend.html" %}
{% load signup_extras %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="media/css/jquery.countdown.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="media/js/jquery.countdown.js"></script>
{% endblock %}

{% block main_content %}
    <form action="/signup/save_delivery_data" id="form_input_address" method="post"> {% csrf_token %}
            <div class="content_part_1" style="padding:10px 0px;">
                <div class="enter_email_pass_left">
                    <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                        <span class="text_7">Step 2 of 3</span><br/><br/>
                        <span class="text_1">Please tell us your address:</span>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Mr/Mrs/Miss:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select style="width:200px; height:25px; border:1px solid #999;" id="title" name="title">
                                <option selected="selected" value="0">Select</option>
                                {% for key, value in titles.iteritems %}
                                    <option value="{{  key }}" {% if user_data.title == key %} selected="selected" {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">First Name:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" value="{{ user_data.first_name }}" name="firstname" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Second Name:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" value="{{ user_data.last_name }}" name="lastname" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">House Building Number:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" value="{{ user_data.hbn }}" name="hbn" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Street Address:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" value="{{ user_data.street_address }}" name="street_address" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Second line of address:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" name="street_address_2line" value="{{ user_data.street_2_line }}" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Country:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select style="width:200px; height:25px; border:1px solid #999;" id="country" name="country" onchange="get_towns($('#towncity'), $(this))">
                                <option selected="selected" value="0">Select</option>
                                {% for key, value in country.iteritems %}
                                    <option value="{{  key }}" {% if user_data.country == key %} selected="selected" {% endif %}  >{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Town /city:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select style="width:200px; height:25px; border:1px solid #999;" id="towncity" name="towncity">
                                <option selected="selected" value="0">Select</option>
                                {% for key, value in town.iteritems %}
                                    <option value="{{  key }}" {% if user_data.town == key %} selected="selected" {% endif %} >{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Postcode:</div>
                        <div class="enter_email_pass_left_row_right">
                            <input type="text" name="postcode" value="{{ user_data.postcode }}" id="" style="width:200px; height:25px; border:1px solid #999;"/>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                        <input type="submit"
                               style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;"
                               value="Proceed"/>
                    </div>
                </div>


                    {% get_div_free_delivery %}

            </div>
            <!-- close content_part_1 -->
</form>

{% endblock %}