{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="media/css/jquery.countdown.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="media/js/jquery.countdown.js"></script>
{% endblock %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="content_part_1" style="padding:10px 0px;">
                <div class="enter_email_pass_left">
                    <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                        <span class="text_7">Step 2 of 4</span><br/><br/>
                        <span class="text_1">Please select which flavours you would like<br/>(you can change these every two months)</span>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Flavour 1:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select name="" id="" style="width:200px; height:25px; border:1px solid #999;">
                                <option value="" selected="selected">Select</option>
                                <option value="">Option One</option>
                                <option value="">Option Two</option>
                                <option value="">Option Ohree</option>
                                <option value="">Option Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Flavour 2:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select name="" id="" style="width:200px; height:25px; border:1px solid #999;">
                                <option value="" selected="selected">Select</option>
                                <option value="">Option One</option>
                                <option value="">Option Two</option>
                                <option value="">Option Ohree</option>
                                <option value="">Option Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Flavour 3:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select name="" id="" style="width:200px; height:25px; border:1px solid #999;">
                                <option value="" selected="selected">Select</option>
                                <option value="">Option One</option>
                                <option value="">Option Two</option>
                                <option value="">Option Ohree</option>
                                <option value="">Option Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Flavour 4:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select name="" id="" style="width:200px; height:25px; border:1px solid #999;">
                                <option value="" selected="selected">Select</option>
                                <option value="">Option One</option>
                                <option value="">Option Two</option>
                                <option value="">Option Ohree</option>
                                <option value="">Option Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row">
                        <div class="enter_email_pass_left_row_left">Flavour 5:</div>
                        <div class="enter_email_pass_left_row_right">
                            <select name="" id="" style="width:200px; height:25px; border:1px solid #999;">
                                <option value="" selected="selected">Select</option>
                                <option value="">Option One</option>
                                <option value="">Option Two</option>
                                <option value="">Option Ohree</option>
                                <option value="">Option Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                        <input type="button"
                               style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;"
                               value="Proceed"/>
                    </div>
                </div>
                <div class="enter_email_pass_right">
                    <div class="enter_email_pass_right_row"
                         style="background-color:#7BC423; color:#FFF; font-weight:bold;">
                        <span class="text_7">FREE Delivery!</span>
                    </div>
                    <div class="enter_email_pass_right_row">
                <span class="text_1">Complete this order<br/>
                in just 5 minutes<br/>
                <span class="text_8">(1 minute: 24 seconds left)</span><br/>
                and we will give you<br/>
                FREE delivery for life!<br/><br/>
                (save an additional<br/>
                £18 per year)</span>
                    </div>
                </div>
            </div>
            <!-- close content_part_1 -->
        </div>
        <!-- close content -->
    </div>

{% endblock %}