{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="content_part_1" style="padding-bottom:20px; padding-top:10px;">
                <div class="about_us_wide">
                    <div class="contact_us">
                        <div class="contact_us_row" style=" height:30px; font-size:24px; text-align:center;">
                            Log into your Account
                        </div>
                        <div class="contact_us_row" style="text-align:center;">
                            Please ensure nobody is watching as you type your password
                        </div>
                        <div class="contact_us_row" style="margin-top:30px;">
                            <div class="contact_us_row_left">
                                Email address:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="text" name="#" id="#" size="30"
                                       style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"/>
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Password:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="text" name="#" id="#" size="30"
                                       style=" height:25px; padding:0px 10px; background-color:#FFF; border:1px solid #999;"/>
                            </div>
                        </div>
                        <div class="contact_us_row">
                            <div class="contact_us_row_left">
                                Remember:
                            </div>
                            <div class="contact_us_row_right">
                                <input type="checkbox" name="#" id="#"/>
                            </div>
                        </div>
                        <div class="contact_us_row" style="text-align:center;">
                            <input type="button" name="#" id="#"
                                   style=" background-color:#7BC423; color:#FFF; width:120px; height:40px; border:0px; font-size:24px;"
                                   value="Send"/>
                        </div>
                        <div class="contact_us_row" style="text-align:center; margin-bottom:10px;">
                            ( Forgot your username or password, please <a href="password_recover.html">click here</a> )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- close content -->
    </div>

{% endblock %}