{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="good_news" style="padding:10px 0px;">
                <div class="good_news_row" style="padding:10px 0px; margin-top:50px; text-align:center;">
                    <span class="text_7">Payment successful!</span>
                </div>
                <div class="good_news_row" style="padding:10px 0px; text-align:center;">
                    <span class="text_1">You will shortly be redirected to your administration area.</span>
                </div>
                <div class="good_news_row" style="padding:10px 0px; margin-bottom:50px; text-align:center;">
                    <span class="text_1">If you are not redirected within 30 seconds please <a href="#">click here</a>.</span>
                </div>
            </div>
            <!-- close good_news -->
        </div>
        <!-- close content -->
    </div>

{% endblock %}