{% extends "public/general_frontend.html" %}

{% load i18n %}

{% block main_content %}

    <div class="content_wide">
        <div class="content">
            <div class="content_part_1">
                <div class="content_main_image" style=" background:url(/media/images/frontend/packages.jpg);">
                    <div class="content_huge_savings"
                         style="background:url(/media/images/frontend/background_transparent_4.png); background-repeat:no-repeat; width:300px; height:213px; padding:175px 15px 15px 15px; margin:25px 0px 0px 25px; float:left;">
                    </div>
                </div>
            </div>
            <!-- close content_part_1 -->


            <div class="content_part_1">
                <div class="about_us_wide">
                    <div class="our_packages_half" style="  margin-right:15px;">
                        <div class="our_packages_half_row"><!--style="height:500px; height:600px;" -->
                            <div class="our_packages_half_row"
                                 style=" line-height:42px; font-size:14px; padding-top:10px;">
                                <span style="color:#000; font-size:40px;">THE 2 YEAR <span
                                        style=" color:#fe0000">PLAN.</span></span><br/>
                                <span style="line-height:40px;font-size:20px; ">The easy way to Stop Smoking.</span>
                            </div>
                            <div class="our_packages_half_row">
                                <div class="our_packages_half_row_left">
                                    <div style=" background-color:#EEE; width:160px; height:234px; font-size:15px; border:1px solid #ccc;"></div>
                                    <div style=" background-color:#EEE; width:140px; padding:10px; font-size:16px; margin-top:10px; border:1px solid #ccc; line-height:25px;">
                                        <span style="color:#fe0000; font-size:35px; ">Easier!</span><br/><br/>
                                        <span>
                                            The Withdrawal symptoms are hardly noticeable.
                                        </span>
                                    </div>
                                </div>
                                <div class="our_packages_half_row_right" style="font-size:14px; line-height:18px;">
                                    <br/>Subscribe to our 2 year plan today and every month you will receive…<br/><br/>
                                    5 new bottles of smoking liquid, which is equal to 800 cigarettes and enough to last
                                    most smokers at least 4 weeks.<br/><br/>
                                    To help you stop smoking the 2 year plan uses 64 different strengths of smoking
                                    liquid each of which contains less nicotine than the last to gradually reduce your
                                    nicotine intake over the
                                    2 year period.<br/><br/><br/><br/>

                                    <span style="font-size:16px">just <span class="text_3">£29.99</span> a month</span>


                                </div>
                            </div>
                        </div>
                        <div class="our_packages_half_row" style="padding-top:20px;">
                            <input type="button" name="#" id="#"
                                   style=" background-color:#7BC423; color:#FFF; width:210px; height:50px; border:0px; font-size:24px; margin:10px 0px; cursor:pointer;"
                                   value="Subscribe Now!"/>
                        </div>
                    </div>
                    <!-- close our_packages_half -->


                    <div class="our_packages_half" style="height:605px;">
                        <div class="our_packages_half_row" style="height:500px;">
                            <div class="our_packages_half_row" style="padding-top:10px;">
                                <div style="width:400px; height:120px; text-align:center;">
                                    <img src="/media/images/frontend/special_offer.jpg" height="120"/>
                                </div>
                            </div>
                            <div class="our_packages_half_row" style="padding-top:20px;">
                                Subscribe to the 2 Year Plan Today <!--<span style="background-color:#FF0;">(you have 22hrs, 21minutes, 24 seconds left)</span>
and we will send you a FREE smoking pipe! --><br/><span style="background-color:#FF0;">(you have 22hrs, 21minutes, 24 seconds left)</span><br/>and
                                we will send you a <span class="text_8">FREE</span> smoking pipe!
                            </div>
                            <div class="our_packages_half_row" style="padding-top:40px;">
                                <div style="width:400px; height:120px; text-align:center;">
                                    <img src="/media/images/frontend/packages3.jpg"/>
                                </div>
                            </div>
                            <div class="our_packages_half_row" style="padding-top:20px;">
                                <span class="text_8">BONUS!</span> Subscribe today and every second month we will
                                include with your liquids a replacement vaporizer for your
                                Smoking pipe (worth £4.99).
                            </div>
                        </div>
                        <div class="our_packages_half_row" style="padding-top:20px;">
                            <input type="button" name="#" id="#"
                                   style=" background-color:#7BC423; color:#FFF; width:210px; height:50px; border:0px; font-size:24px; margin:10px 0px;"
                                   value="Subscribe Now!"/>
                        </div>
                    </div>
                    <!-- close our_packages_half -->
                </div>
                <!-- close about_us_wide -->

            </div>
            <!-- close content_part_1 -->


            <div class="content_part_1">
                <div class="content_left_text" style="margin:10px 0px 10px 10px;">
                    <div style="width:100%; height:50px; padding-top:30px; text-align:center; font-size:24px; float:left;">
                        Available Individually.
                    </div>
                    <div style="width:100%; height:150px; float:left;">
                        All our smoking liquids are available to buy individually for £5.99 each,
                        our starter pipe is available to buy for £12.50 and the spare
                        vaporizers (the part that needs cleaning) are available for £4.99.<br/><br/><br/>

                        For more information about our products please visit the
                        manufactures site here.
                    </div>
                </div>
                <div class="content_right_image" style="margin-top:10px;">
                    <img src="/media/images/frontend/packages_2.jpg"/>
                </div>
            </div>
            <!-- close content_part_1 -->


        </div>
        <!-- close content -->
    </div>

{% endblock %}