{% extends "public/general_frontend.html" %}
{% load signup_extras %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="media/css/jquery.countdown.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="media/js/jquery.countdown.js"></script>
{% endblock %}

{% block main_content %}

   <form id="form_email_password" method="post" action="/signup/middle_step/">{% csrf_token %}


       <div class="content_part_1" style="padding:10px 0px;">

            <div class="enter_email_pass_left">
                <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                    <span class="text_7">Step 1 of 4</span><br><br>
                    <span class="text_1">Please enter your email address, and choose a password:</span>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Email:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="email_address" id="email_address" style="width:200px; height:25px; border:1px solid #999;"
                               type="text">

                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Retype Email:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="remail_address" id="remail_address" style="width:200px; height:25px; border:1px solid #999;"
                               type="text">
                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Password:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="password" id="password" style="width:200px; height:25px; border:1px solid #999;"
                               type="password">
                    </div>
                </div>
                <div class="enter_email_pass_left_row">
                    <div class="enter_email_pass_left_row_left">Retype Password:</div>
                    <div class="enter_email_pass_left_row_right">
                        <input name="rpassword" id="rpassword" style="width:200px; height:25px; border:1px solid #999;"
                               type="password">
                    </div>
                </div>
                <div class="enter_email_pass_left_row" style="text-align:center; padding:10px 0px;">
                    <input style=" background-color:#7BC423; width:120px; height:30px; border:0px; color:#FFF; font-size:16px; cursor:pointer;"
                           value="Proceed" type="submit">
                </div>
            </div>
             {% get_div_free_delivery %}


        </div>

    </form>

{% endblock %}